.container {
    background-color: beige;
    width: 1400px;
    height: 800px;
    padding: 15px;
    border: blue;
}

.row {
    font-family: inherit;
    font-size: 2.5rem;
    color: blue;
}

h2 {
    font-family: inherit;
    font-size: 3.5rem;
    text-align: center;
}